{% load compress %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Pay via NOWPayments.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "pretixbase/scss/cachedfiles.scss" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "pretix_nowpayments/style.css" %}">
    {% endcompress %}
</head>
<body>
    <div class="container">
      <h3>Your payment was received but we ran out of tickets!</h3>
      <p>Your order code: {{ order_code }}<br>Please contact us at: <a href="mailto:{{email}}">{{ email }}</a></p>
    </div>
    <footer>
      <p>Powered by <a href="https://digilol.net">Digilol</a></p>
    </footer>
  </body>
</html>
