{% load compress %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Pay via NOWPayments.io</title>
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "pretixbase/scss/cachedfiles.scss" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "pretix_nowpayments/style.css" %}">
    {% endcompress %}
</head>
<body>
    <div class="container">
      <h3>Send {{ amount }} {{ currency }} to</h3>
      <img class="payment-qr" src="data:image/jpeg;base64,{{ qr }}">
      <p><code class="address">{{ address }}</code></p>
      <p>Status: {{ status }}</p>
      <p>Keep this page open. We will redirect you to your ticket once we receive your payment.</p>
    </div>
    <footer>
      <a href="https://digilol.net"><img src="{% static "pretix_nowpayments/powered-by-digilol.png" %}" alt="Powered by Digilol"></a>
    </footer>
  </body>
</html>
